.navs li {
  list-style-type: none;
  cursor: pointer;
  padding-top: .5em; 
  color: black;
}

.nav-items:hover {
  color: rgba(85, 172, 238, 1) !important;
}

.navs ul {
  display: flex;
  justify-content: space-around;
  padding-top: 1.3em;
  height: 46px;
  align-items: 0 10px;
  padding: 0 10px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 5px 10px 20px -20px;
}

a {
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  // height: 10px;
}

.content {
  margin-top: 2em;
  margin-left: 1em;
  padding-top: -5em;
  margin-right: 1em;
}

.content h4 {
  margin-bottom: .1em;
}

#chart {
  cursor: pointer;
}

// input {
//   width: 80%;
// }
.categoryNames {
  color: rgba(85, 172, 238, 1);
}

#categories:hover {
  color: rgba(85, 172, 238, 1);
}

#login-page {
  // display: flex;
  // justify-content: center;
  margin-top: 3em;
}

.goal-container {
  border: 1px black solid;
  // border-radius: 10%;
}

.logo-image {
  height: 25px;
  width: 25px;
  // margin-right: 100%;
  position: absolute;
  left: 0;
  top: 20;
}