
<h1>{{categoryName}}</h1>

<div class="allGoals">
    <h3>GOALS!</h3>
    <div ng-repeat="goal in goals">
            <!-- &#10004 -->
            {{goal.id}} needs to be specific id for each check mark
        <input ng-click="isGoalAccomplished(goal.id)" ng-checked="goal.accomplished" id="checkbox{{goal.id}}" type="checkbox">
        {{goal.goal}}:
        {{goal.details}}
        <button class="delete-goal-btn" ng-click="deleteUserGoal(goal.id)">delete goal</button>
        <button class="update-goal-btn" ng-click="updateCurrentGoal(goal.id)">edit goal</button>
    </div>
</div>
<!-- <button class="button" ng-click="toggleModalSeeCategories()">See Categories</button> -->
<button class="button" ng-click="toggleModalAddGoal()">Add Goal</button>
<div class="modal" id="addGoal">
        <div class="modal-background">
            <div class="modal-content">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add/Edit Category</p>
                        <button class="delete" aria-label="close" ng-click="toggleModalAddGoal()"></button>
                    </header>
                    <section class="modal-card-body">
                        <h1>Add Goal</h1>
                        <h3>{{name}}</h3>
                        <div>
                            <label>Goal</label>
                            <input type="text" placeholder='enter your goal here' ng-model="goalItems.goal">
                        </div>
                        <div>
                            <label>details</label>
                            <input type="text" placeholder="goal details" ng-model="goalItems.details" ng-value="goal.details">
                        </div>
                        <button ng-click="addGoal()">Add Goal!</button>
                        <button ng-click="updateGoal()">Update Goal!</button>
                    </section>
            </div>
        </div>
    </div>

