<h3>GOALS!</h3>

<div class="allGoals">
    <div ng-repeat="goal in goals">
        {{goal.name}}:
        {{goal.description}}
        <button class="delete-goal-btn" ng-click="deleteUserGoal(goal.id)">delete goal</button>
    </div>
</div>

<div>
        <h1>Add Goal</h1>
        <h3>{{name}}</h3>
        <div>
            <label>Goal Name</label>
            <input type="text" placeholder='goal name' ng-model="goalItems.name" ng-value="item.name">
        </div>
        <div>
            <label>Description</label>
            <input type="text" placeholder="goal description" ng-model="goalItems.description" ng-value="item.description">
        </div>
        <button ng-click="addGoal()">Add Goal!</button>
    </div> 
    